################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/knapsack/knapsack/obj
/knapsack/.vs/knapsack/v16
