################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/knapsack/knapsack/obj
/knapsack/.vs/knapsack/v16
/knapsack/knapsack/bin/Debug/netcoreapp3.1
/knapsack/packages
/knapsack/tests/obj
/knapsack/tests/bin/Debug/netcoreapp3.1
/knapsack/.vs/knapsack/DesignTimeBuild
/knapsack/GeneticAlgorithm/obj/Debug/netcoreapp3.1
/knapsack/GeneticAlgorithm/bin/Debug/netcoreapp3.1
/knapsack/GeneticAlgorithm/obj/GeneticAlgorithm.csproj.nuget.cache
/knapsack/GeneticAlgorithm/obj
